html,body {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #7fff00;
  /* background-image: url('../img/dungeonhell.png'); */
  background-size: cover;
  background-repeat: space;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
}

#headerContainer{
  text-align: center;
  background-color: cyan;
  height: 50px;
  
}

#gameCabinet{
  height: 800px; 
  width: 600px;
  border: 3px solid red;
  background-color:orange;
  display: grid;
}
